<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="isLoading" class="ion-text-center" >
        <ion-spinner name="circular" color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!reservacionesCargadas || reservacionesCargadas.length <= 0" class="ion-text-center" >
        <p>No hay app-reservaciones</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && reservacionesCargadas.length > 0" >
        <ion-list>
          <ion-list>
            <ion-item-sliding *ngFor="let rsv of reservacionesCargadas" #slidingRsv >
              <ion-item>
                <ion-thumbnail slot="start">
                  <img [src]="rsv.imageUrl" />
                </ion-thumbnail>
                <div class="container">
                  <ion-label slot="center">
                    <h2>  {{rsv.lugarTitulo}}</h2>
                    <p>  Huespedes: {{rsv.huespedes}}</p>
                  </ion-label>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="onRemoverReservacion(rsv.firebaseId, slidingRsv)">Unread</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
