<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/','lugares','tabs','ofertas',lugarFirebaseId]">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>editar-oferta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateOffer()" [disabled]="!form?.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center" *ngIf="isLoading">
    <ion-spinner name="circular" color="primary"></ion-spinner>
  </div>

  <form [formGroup]="form" *ngIf="!isLoading" >
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descipcion</ion-label>
            <ion-textarea rows="3" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('descripcion').valid && form.get('descripcion').touched" >
        <ion-col size-sm="6" offset-sm="3">
          <p>Descripcion debe ser menor que 180 caracteres y mayor 0</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
