<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink = "/lugares/tabs/ofertas">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="isLoading" >Cargando...</ion-title>
    <ion-title *ngIf="!isLoading" >{{lugar.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-spinner name="circular" color="primary" *ngIf="isLoading" ></ion-spinner>
  <ion-button expand="block" *ngIf="!isLoading" color="primary" class="ion-margin" [routerLink]="['/', 'lugares', 'tabs', 'ofertas', 'edit', lugar.firebaseId]">Editar</ion-button>
</ion-content>

